body{
     background-color: rgb(145, 221, 195) !important;
     padding: 10px;
     
}
.submit-area{
     background-color: white ;
     
    
     margin-top: 30px;
     border-radius: 10px;
     padding: 40px;
     box-shadow: 5px 5px 10px gray;
}
.submit-area h1{
     margin-bottom: 80px;
}
.submit-area img{
     width: 100px;
     height: 80px;
}
#transaction-area{
     display: none;
}
.deposit{
     background-color: slateblue;
}
.withdraw{
     background-color: lightsalmon;
}
.balance{
     background-color: orange;
}
.status{
     margin: 0 20px;
     color: white;
     padding: 20px;
     border-radius: 20px;
}
.status h2{
     font-weight: 700;
     font-size: 50px;
}
.top-nav{
     padding-bottom: 80px;
     padding-top: 0px;
     
}
.top-nav button{
     padding-right: 40px;
     width: 80px;
     margin-left: auto;
     margin-right: 20px;
     
}

.signuppage {
     
     height: auto;
     width: 100%;
    
     
}
.signuppage input{
     margin-top: 10px;
     padding: 10px;
     width: 100%;
}
.signuppage .name input{
     width: 47% !important;
    
}
.lastname{
     margin-left: 2%;
}
.signup-area{
     background: bisque;
     width: 50%;
     padding: 50px;
     margin: auto;
}

.signuppage button{
     margin-top: 20px;
}
#createAccount a{
     color: black;
     text-decoration: none;
}
#createAccount{
   margin-left: 240px;
     
}